{% extends 'main.html'%}
{% load static %}

{%block content%}
         <!-- Begin Page Content -->
         <div class="container-fluid">
            {% include 'partials/_alerts.html' %}
            <!-- Page Heading -->
            <h1 class="h3 mb-2 text-gray-800">programCoordinator Detail</h1>
           
            <!-- DataTales Example -->
            <div class="card shadow mb-4">
                
                <div class="card-body" style="box-shadow:0 0 25px 0 rgb(29, 175, 185);" >
                    <div class="col-auto" >
                        {% if programCoordinator %}
                        <div class="p-2">
                                      <center>
                               {%if programCoordinator.departments.is_active%}
                                <i class="fas fa-success fa-1x text-success"> Active </i>  <i class="fas fa-check-circle fa-1x text-success"></i>
                                {%else%}
                                <i class="fas fa-success fa-1x text-danger"> <strike> Active</strike></i>  <i class="fas fa-minus-circle fa-1x text-danger"></i>
                                {%endif%}
                            </center>
                                                <br>
                                            <div class="form-group row">
                                                <label class="col-sm-3 col-form-label" align="right">Name</label>
                                                <div class="col-sm-6">
                                                    <input type="text" id="order_date" name="order_date" readonly class="form-control form-control-sm" value="{{programCoordinator.departments.first_name}}">
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-sm-3 col-form-label" align="right">Department</label>
                                                <div class="col-sm-6">
                                                    <input type="text" id="cust_name" name="pnumber"  readonly class="form-control form-control-sm" placeholder="{{programCoordinator.department}}"/>
                                                </div>
                                            </div>
                                        
                                        <div class="form-group row">
                                        <label for="net_total" class="col-sm-3 col-form-label" align="right">Email </label>
                                        <div class="col-sm-6">
                                            <input type="text" readonly name="tinnumber" class="form-control form-control-sm" id="net_total" value="{{programCoordinator.departments.email}}"/>
                                        </div>
                                        </div> 
                                    
                                        <hr>
                                        <center>
                                            
                                            {%if programCoordinator.departments.is_active %}
                                            <a href="#"  data-toggle="modal" data-target="#account" class="btn btn-danger"><i class="fas fa-trash fa-1x text-white"></i> Disable Program Coordinator Account</a>
                                            {%else%}
                                            <a href="#"  data-toggle="modal" data-target="#account" class="btn btn-success"><i class="fas fa-check fa-1x text-white"></i> Enable Program Coordinator Account</a>
                                            {%endif%}
                                            </center>
                                        {%endif%}
                                    </div>
                        
                    </div>
                        
                </div>
            </div>

        </div>
         <!-- disable modal  -->
         <div class="modal fade bd-example-modal-lg" id="account" tabindex="-1" role="dialog" aria-labelledby="detail"
         aria-hidden="true">
         <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
             {% if programCoordinator.departments.is_active%}
             <div class="modal-content" style="box-shadow:0 0 25px 0 rgba(216, 37, 67, 0.692);">
              {%else%}
              <div class="modal-content" style="box-shadow:0 0 25px 0 rgb(29, 175, 185);">
              {%endif%}
                 <div class="modal-header border-bottom-0">
                    
                     <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                         <span aria-hidden="true">×</span>
                     </button>
                    </div>
                    <div class="modal-body border-bottom-0">
                    
                           <div class="col-md-10 mx-auto">
                                     
                                        <div class="card-header">
                                          {% if programCoordinator.departments.is_active%}
                                             <h4 class="text-gray-800"><i class="fas fa-exclamation-triangle fa-2x text-danger"></i> Are you sure you want to <strong class="text-danger">Disable</strong> the Researcher: "<strong class="text-gray-900"> {{researcher.researcher.first_name}}</strong>" account ?</h4>
                                             {%else%}
                                             <h4 class="text-gray-800"><i class="fas fa-exclamation-triangle fa-2x text-warning"></i> Enable the Researcher: "<strong class="text-gray-900">{{researcher.researcher.first_name}}</strong>" account ?</h4>
                                             {%endif%}
                                        </div>
                                        <div class="card-body">
                                          {% if programCoordinator.departments.is_active%}
                                          <h5 class="title" >  <a href="{% url 'disabledepartment' programCoordinator.id %}?next={{ request.path|urlencode }}" class="btn btn-danger"><i class="fas fa-check-circle fa-1x text-white"></i> Yes disable</a> &nbsp;&nbsp;&nbsp;
                                             {%else%}
                                             <h5 class="title" >  <a href="{% url 'enabledepartment' programCoordinator.id %}?next={{ request.path|urlencode }}" class="btn btn-success"><i class="fas fa-check-circle fa-1x text-white"></i> Yes enable</a> &nbsp;&nbsp;&nbsp;
                                          {%endif%}
                                              <button class="close btn btn-success" type="button" data-dismiss="modal" aria-label="Close">
                                                 <span aria-hidden="true">Cancel</span>
                                             </button> 
                                         </h5>
                                       
                                      
                                  </div>            
                      
                   </div>
      
             </div>
         </div>
        </div>
         </div>
         


{% endblock %}
