
  {%load static%}
  {% load cart_template_tags %}
  <!-- Topbar -->
   <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

    <!-- Sidebar Toggle (Topbar) -->
    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
        <i class="fa fa-bars text-info"></i>
    </button>
                {% if request.user.groups.all.0.name == 'Department' %}
                    <form method="GET" action="{% url 'chemicalList' %}" class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
                        <div class="input-group">
                            <input type="text" name="q" class="form-control bg-light border-0 small" placeholder="Search for chemicals..."
                                aria-label="Search" aria-describedby="basic-addon2">
                            <div class="input-group-append">
                                <button class="btn btn-info" type="submit">
                                    <i class="fas fa-search fa-sm"></i>
                                </button>
                            </div>
                        </div>
                    </form>
                    {% elif request.user.groups.all.0.name == 'Researcher' %} 
                    
                        {% if request.user.researcher.department == 'Animal Biotechnology' %}
                        <form method="GET" action="{% url 'animalchemicalList' %}" class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
                            {% elif request.user.researcher.department == 'Plant Biotechnology' %}
                        <form method="GET" action="{% url 'plantchemicalList' %}" class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
                            {% elif request.user.researcher.department == 'Microbial Biotechnology' %}
                        <form method="GET" action="{% url 'microbialchemicalList' %}" class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
                            {%endif%}
                            <div class="input-group">
                                <input type="text" name="q" class="form-control bg-light border-0 small" placeholder="Search for chemicals..."
                                    aria-label="Search" aria-describedby="basic-addon2">
                                <div class="input-group-append">
                                    <button class="btn btn-info" type="submit">
                                        <i class="fas fa-search fa-sm"></i>
                                    </button>
                                </div>
                            </div>
                      </form>
                    {%endif%}

    <!-- Topbar Navbar -->
    <ul class="navbar-nav ml-auto">
          <!-- Nav Item - Search Dropdown (Visible Only XS) -->
          
          <li class="nav-item dropdown no-arrow d-sm-none">
            <a class="nav-link dropdown-toggle" href="#" id="searchDropdown" role="button"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-search fa-fw text-info"></i>
            </a>
            <!-- Dropdown - Messages -->
            <div class="dropdown-menu dropdown-menu-right p-3 shadow animated--grow-in"
                aria-labelledby="searchDropdown">
                {% if request.user.groups.all.0.name == 'Department' %}
                <form method="GET" action="{% url 'chemicalList' %}" class="form-inline mr-auto w-100 navbar-search">
                    <div class="input-group">
                        <input type="text" name="q" class="form-control bg-light border-0 small"
                            placeholder="Search forchemcials..." aria-label="Search"
                            aria-describedby="basic-addon2">
                        <div class="input-group-append">
                            <button class="btn btn-info" type="submit">
                                <i class="fas fa-search fa-sm"></i>
                            </button>
                        </div>
                    </div>
                </form>
                {% elif request.user.groups.all.0.name == 'Researcher' %} 
                        {% if request.user.researcher.department == 'Animal Biotechnology' %}
                        <form method="GET" action="{% url 'animalchemicalList' %}" class="form-inline mr-auto w-100 navbar-search">
                        {% elif request.user.researcher.department == 'Plant Biotechnology' %}
                        <form method="GET" action="{% url 'plantchemicalList' %}" class="form-inline mr-auto w-100 navbar-search">
                        {% elif request.user.researcher.department == 'Microbial Biotechnology' %}
                        <form method="GET" action="{% url 'microbialchemicalList' %}" class="form-inline mr-auto w-100 navbar-search">
                        {%endif%}   
                            <div class="input-group">
                            <input type="text" name="q" class="form-control bg-light border-0 small"
                                placeholder="Search for chemcials..." aria-label="Search"
                                aria-describedby="basic-addon2">
                            <div class="input-group-append">
                                <button class="btn btn-info" type="submit">
                                    <i class="fas fa-search fa-sm"></i>
                                </button>
                            </div>
                        </div>
                    </form>
                {%endif%}
            </div>
        </li>
        {% if request.user.groups.all.0.name == 'Researcher' and request.user|cart_item_count > 0 %}
        <li class="nav-item no-arrow mx-1"> <a href="{% url 'requestSummary' %}" class="nav-link"> <i class="fas fa-list text-info">&nbsp;</i> <span class="mr-2 d-none d-lg-inline text-gray-600 "> {{ request.user|cart_item_count }}&nbsp;</span><span class="mr-2 d-none d-lg-inline text-gray-600 small"> Chemicals in the List </span></a></li>
        
        {% elif request.user.groups.all.0.name == 'Department' and request.user|cart_item_count > 0 %}
        <li class="nav-item no-arrow mx-1"> <a href="{% url 'requestSummary' %}"  class="nav-link"> <i class="fas fa-list text-info">&nbsp;</i><span class="mr-2 d-none d-lg-inline text-gray-600 "> {{ request.user|cart_item_count }}&nbsp;</span><span class="mr-2 d-none d-lg-inline text-gray-600 small"> Chemicals in the List </span></a></li>
        {%endif%}
        <div class="topbar-divider d-none d-sm-block"></div>
        
        <!-- Nav Item - User Information -->
          
        <li class="nav-item dropdown no-arrow">
            <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="mr-2 d-none d-lg-inline text-info small">{{user}}</span>
                <img class="img-profile rounded-circle"
                    src="{% static 'img/undraw_profile.svg' %}">
            </a>
            <!-- Dropdown - User Information -->
            <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                aria-labelledby="userDropdown">
                <a class="dropdown-item" href="#">
                    <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                    Profile
                </a>
              
                
                <div class="dropdown-divider"></div>
                <a class="dropdown-item" href="{% url 'logout' %}" >
                    <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                    Logout
                </a>
            </div>
        </li>

    </ul>

</nav>
<!-- End of Topbar -->
<div class="modal fade bd-example-modal-lg" id="addproduct" tabindex="-1" role="dialog" aria-labelledby="detail"
   aria-hidden="true">
   <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
       <div class="modal-content" style="box-shadow:0 0 25px 0 rgb(29, 175, 185);">
           <div class="modal-header border-bottom-0">
              
               <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                   <span aria-hidden="true">×</span>
               </button>
              </div>
              <div class="modal-body border-bottom-0">
              
                     <div class="col-md-10 mx-auto">
                                <div class="card" style="box-shadow:0 0 25px 0 rgb(29, 175, 185);">
                                  <div class="card-header">
                                       <h4>Print</h4>
                                  </div>
                                  <div class="card-body">
                                    <h5 class="title">Coming Soon... </h5>
                                  </div>
                                </div>
                            </div>            
                
             </div>

       </div>
   </div>
  </div>