{% extends 'main.html'%}
{% load static%}
{% block content %}

     <!-- Begin Page Content -->
     <div class="container-fluid">

      <!-- Page Heading -->
      <div class="d-sm-flex align-items-center justify-content-between mb-4">
          <h1 class="h3 mb-0 text-gray-800"></h1>
          {% include 'partials/_alerts.html' %}
          <!-- <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-success shadow-sm"><i
                  class="fas fa-download fa-sm text-white-50"></i> Generate Report</a> -->
      </div>

      <section class="hero">
        <div class="container mb-5">
          <div class="row align-items-center">
            <div class="col-lg-6">
              <h1 class="hero-heading mb-0">Welcome to  <br> <strong class="text-info">National Agricultural Biotechnology Research center</strong></h1>
              <div class="row">
                <div class="col-lg-10">
                  <p class="lead text-muted mt-4 mb-4"></p>
                </div>
              </div>
 
            </div>
            <div class="col-lg-6"><img src="{% static 'img/custodian.svg'%}" alt="..." class="hero-image img-fluid d-none d-lg-block"></div>
          </div>
        </div>
      </section>
      
      
      <!-- Content Row -->
     
    



  </div>
  <!-- /.container-fluid -->

<section class="hero">
    <div class="container">
      <div class="text-center">
{% if request.user.is_authenticated %}


<!-- <h3> <a href="{% url 'myRequest' %}" > My request </a></h3>
<h3> <a href="{% url 'chemicalList' %}" > Request Chemical </a></h3>
<h3> <a href="" > Request New Chemical </a></h3> -->

</div>
</div>
</section>
{% else%}
<section class="hero">
  <div class="container mb-5">
    <div class="row align-items-center">
      <div class="col-lg-6">
        <h1 class="hero-heading mb-0">Welcome to  <br> <strong class="text-primary">National Agricultural Biotechnology Research center</strong></h1>
        <div class="row">
          <div class="col-lg-10">
            <p class="lead text-muted mt-4 mb-4"></p>
          </div>
        </div>
        <form action="" class="subscription-form">
          <div class="form-group">
            <a href="#" data-toggle="modal" data-target="#search" ><button type="submit" class="btn btn-primary">==> Get Started <==</button></a>
          </div>
        </form>
      </div>
      <div class="col-lg-6"><img src="{% static 'image/bio.jpg'%}" alt="..." class="hero-image img-fluid d-none d-lg-block"></div>
    </div>
  </div>
</section>

{% endif %} 


{% endblock%}