{% extends 'main.html'%}
{% load static %}

{%block content%}

    {% if page == 'animal' %}
         <!-- Begin Page Content -->
         <div class="container-fluid">
            {% include 'partials/_alerts.html' %}
            <!-- Page Heading -->
            <h1 class="h3 mb-2 text-gray-800">Update order</h1>
           
            <!-- DataTales Example -->
            <div class="card shadow mb-4">
                
                <div class="card-body" style="box-shadow:0 0 25px 0 rgb(29, 175, 185);" >
                    <div class="col-auto" >
                        {% if obj %}
                                    <div class="p-2">
                                        <div class="text-center" style="box-shadow:0 0 25px 0 rgb(29, 175, 185);">
                                           <hr>
                                            <h1 class="h4 text-gray-900 mb-4">Update Request Status </h1>
                                           
                                            {%if obj.received %}
                                            <span class="btn btn-success ">Completed</span> &nbsp; 
                                            {%elif obj.requested or obj.recieved == False%}
                                            Request
                                            <span class="btn btn-info ">pending</span> &nbsp;
                                            
                                         {%endif%}
                                         <hr>           
                                        </div>
                                        <br>
                                       
                                  
                                            
                                            <div class="form-group row">
                                                <label class="col-sm-3 col-form-label" align="right">Requested Date</label>
                                                <div class="col-sm-6">
                                                    <input type="text" id="order_date" name="order_date" readonly class="form-control form-control-sm" value="{{obj.ordered_date}}">
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-sm-3 col-form-label" align="right">Department</label>
                                                <div class="col-sm-6">
                                                    <input type="text" id="cust_name" name="pnumber"  readonly class="form-control form-control-sm" placeholder="{{obj.department}}"/>
                                                </div>
                                            </div>
                                        
                                        <div class="form-group row">
                                        <label for="net_total" class="col-sm-3 col-form-label" align="right">Name</label>
                                        <div class="col-sm-6">
                                            <input type="text" readonly name="tinnumber" class="form-control form-control-sm" id="net_total" value="{{obj.user.username}}"/>
                                        </div>
                                        </div> 
                                           
                                        <div class="card-body" style="box-shadow:0 0 25px 0 rgb(29, 175, 185);">
                                            <div class="row">
                                       
                                        <div class="col-auto col-md-auto mb-1">
                                            <div class="card border-left-success shadow h-100 py-2" >
                                                <div class="card-body">
                                                    <div class="row no-gutters align-items-center">
                                                        <div class="col mr-1">
                                                            
                                                           
                                                                <form method="POST" action="{% url 'updatequantity' obj.id che.id %}" enctype='multipart/form-data' validate >
                                                                    {% csrf_token %}
                                                                    <div class="form-group row ">
                                                                        <label for="net_total" class="col-sm-4 col-form-label" align="right">Chemical Name</label>
                                                                        <div class="col-sm-6">
                                                                  
                                                                            <input type="text" readonly name="pname" class="form-control form-control-sm" id="net_total" value="{{che.chemical.name}}"/>
                                                                        </div>
                                                                        <label for="net_total" class="col-sm-4 col-form-label" align="right">Unit</label>
                                                                        <div class="col-sm-6"> 
                                                                            <input type="text" readonly name="pname" class="form-control form-control-sm" id="net_total" value="{{che.chemical.unit}}"/>
                                                                        </div>

                                                                       

                                                                         <label for="net_total" class="col-sm-4 col-form-label" align="right">Quantity</label>
                                                                        <div class="col-sm-6"> 
                                                                            <input type="text" readonly name="pname" class="form-control form-control-sm" id="net_total" value="{{che.quantity}}"/>
                                                                        </div>
                                                                        {%if che.recieved == True%}
                                                                        <i class="fas fa-check-circle fa-1x text-success"></i>
                                                                        <label for="net_total" class="col-sm-4 col-form-label" align="right">Confirmed Quantity</label>
                                                                        <div class="col-sm-6">
                                                                            <input type="number" readonly name="quantity" class="form-control form-control-sm"  value="{{che.issuedquantity}}" required/>
                                                                        </div>
                                                                        {%else%}
                                                                <!-- {% if obj.department == "Animal Biotechnology" %} -->
                                                                        
                                                                    <label for="net_total" class="col-sm-4 col-form-label" align="right">Expire Date</label>
                                                                        <div class="col-sm-6"> 
                                                                            <input type="date" name="exdate" class="form-control form-control-sm" id="net_total" value="{{store.expireDate}}" required/>
                                                                        </div>
                                                                        <label for="net_total" class="col-sm-4 col-form-label" align="right">Shelf</label>
                                                                     <div class="col-sm-6">
                                                                     <input type="text"  name="shelf" class="form-control form-control-sm"  value="{{store.shelf}}" required/>
                                                                     </div>
                                                                     <label for="net_total" class="col-sm-4 col-form-label" align="right">Cabinate</label>
                                                                     <div class="col-sm-6">
                                                                     <input type="text"  name="cabinate" class="form-control form-control-sm"  value="{{store.cabinate}}" required/>
                                                                     </div>
                                                                     <label for="net_total" class="col-sm-4 col-form-label" align="right">Fridge</label>
                                                                     <div class="col-sm-6">
                                                                        {{temp.temprature}}
                                                                     </div>
                                                                     <label for="net_total" class="col-sm-4 col-form-label" align="right">Conifrmed Quantity</label>
                                                                     <div class="col-sm-6">
                                                                     <input type="number"  name="quantity" class="form-control form-control-sm"  value="" required/>
                                                                     </div>
                                                           
                                                                    <!-- {% elif obj.department == "Plant Biotechnology" %}
                                                                    <div>
                                                                        <label for="net_total" class="col-sm-1 col-form-label" align="right">Shelf</label>
                                                                        <div class="col-sm-1">
                                                                        <input type="text"  name="shelf" class="form-control form-control-sm"  value="" required/>
                                                                        </div>
                                                                        <label for="net_total" class="col-sm-1 col-form-label" align="right">Cabinate</label>
                                                                        <div class="col-sm-1">
                                                                        <input type="text"  name="cabinate" class="form-control form-control-sm"  value="{{store.cabinate}}" required/>
                                                                        </div>
                                                                        <label for="net_total" class="col-sm-1 col-form-label" align="right">Conifrmed Quantity</label>
                                                                        <div class="col-sm-1">
                                                                        <input type="number"  name="quantity" class="form-control form-control-sm"  value="" required/>
                                                                        </div>
                                                                        </div>
                                                                    {% elif obj.department == "Microbial Biotechnology" %}
                                                                    <div>
                                                                        <label for="net_total" class="col-sm-1 col-form-label" align="right">Shelf</label>
                                                                        <div class="col-sm-1">
                                                                        <input type="text"  name="shelf" class="form-control form-control-sm"  value="" required/>
                                                                        </div>
                                                                        <label for="net_total" class="col-sm-1 col-form-label" align="right">Cabinate</label>
                                                                        <div class="col-sm-1">
                                                                        <input type="text"  name="cabinate" class="form-control form-control-sm"  value="{{store.cabinate}}" required/>
                                                                        </div>
                                                                        <label for="net_total" class="col-sm-1 col-form-label" align="right">Conifrmed Quantity</label>
                                                                        <div class="col-sm-1">
                                                                        <input type="number"  name="quantity" class="form-control form-control-sm"  value="" required/>
                                                                        </div>
                                                                        </div>
                                                                    {%endif%} -->
                                             <input type="hidden" name="next" value="{{ request.path }}">
                                             <div class="input-group-append">
                                                 <input type="submit" name="add" class="btn btn-info"  value="Confirm">
                                                
                                            </div>
                                            
                                            {%endif%}
                                          
                                        
                                        </div>
                                            </form>
                                        </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                           
                            </div>
                            </div>
                                        <hr>
                                    </div>
                        
                        {%endif%}
                                </div>
                        
                </div>
            </div>

        </div>
    
    {% elif page == 'plant' %}
         <!-- Begin Page Content -->
         <div class="container-fluid">
            {% include 'partials/_alerts.html' %}
            <!-- Page Heading -->
            <h1 class="h3 mb-2 text-gray-800">Confirm Request</h1>
           
            <!-- DataTales Example -->
            <div class="card shadow mb-4">
                
                <div class="card-body" style="box-shadow:0 0 25px 0 rgb(29, 175, 185);" >
                    <div class="col-auto" >
                        {% if obj %}
                                    <div class="p-2">
                                        <div class="text-center" style="box-shadow:0 0 25px 0 rgb(29, 175, 185);">
                                           <hr>
                                            <h1 class="h4 text-gray-900 mb-4">Update Request Status </h1>
                                           
                                            {%if obj.received %}
                                            <span class="btn btn-success ">Completed</span> &nbsp; 
                                            {%elif obj.requested or obj.recieved == False%}
                                            Request
                                            <span class="btn btn-info ">pending</span> &nbsp;
                                            
                                         {%endif%}
                                         <hr>           
                                        </div>
                                        <br>
                                       
                                  
                                            
                                            <div class="form-group row">
                                                <label class="col-sm-3 col-form-label" align="right">Requested Date</label>
                                                <div class="col-sm-6">
                                                    <input type="text" id="order_date" name="order_date" readonly class="form-control form-control-sm" value="{{obj.ordered_date}}">
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-sm-3 col-form-label" align="right">Department</label>
                                                <div class="col-sm-6">
                                                    <input type="text" id="cust_name" name="pnumber"  readonly class="form-control form-control-sm" placeholder="{{obj.department}}"/>
                                                </div>
                                            </div>
                                        
                                        <div class="form-group row">
                                        <label for="net_total" class="col-sm-3 col-form-label" align="right">Name</label>
                                        <div class="col-sm-6">
                                            <input type="text" readonly name="tinnumber" class="form-control form-control-sm" id="net_total" value="{{obj.user.username}}"/>
                                        </div>
                                        </div> 
                                           
                                        <div class="card-body" style="box-shadow:0 0 25px 0 rgb(29, 175, 185);">
                                            <div class="row">
                                       
                                        <div class="col-auto col-md-auto mb-1">
                                            <div class="card border-left-success shadow h-100 py-2" >
                                                <div class="card-body">
                                                    <div class="row no-gutters align-items-center">
                                                        <div class="col mr-1">
                                                            
                                                           
                                                                <form method="POST" action="{% url 'updatequantity' obj.id che.id %}" enctype='multipart/form-data' validate >
                                                                    {% csrf_token %}
                                                                    <div class="form-group row ">
                                                                        <label for="net_total" class="col-sm-4 col-form-label" align="right">Chemical Name</label>
                                                                        <div class="col-sm-6">
                                                                  
                                                                            <input type="text" readonly name="pname" class="form-control form-control-sm" id="net_total" value="{{che.chemical.name}}"/>
                                                                        </div>
                                                                        <label for="net_total" class="col-sm-4 col-form-label" align="right">Unit</label>
                                                                        <div class="col-sm-6"> 
                                                                            <input type="text" readonly name="pname" class="form-control form-control-sm" id="net_total" value="{{che.chemical.unit}}"/>
                                                                        </div>

                                                                       

                                                                         <label for="net_total" class="col-sm-4 col-form-label" align="right">Quantity</label>
                                                                        <div class="col-sm-6"> 
                                                                            <input type="text" readonly name="pname" class="form-control form-control-sm" id="net_total" value="{{che.quantity}}"/>
                                                                        </div>
                                                                        
                                                                        {%if che.recieved == True%}
                                                                        <i class="fas fa-check-circle fa-1x text-success"></i>
                                                                        <label for="net_total" class="col-sm-4 col-form-label" align="right">Confirmed Quantity</label>
                                                                        <div class="col-sm-6">
                                                                            <input type="number" readonly name="quantity" class="form-control form-control-sm"  value="{{che.issuedquantity}}" required/>
                                                                        </div>
                                                                        {%else%}
                                                             
                                                                         <label for="net_total" class="col-sm-4 col-form-label" align="right">Expire Date</label>
                                                                        <div class="col-sm-6"> 
                                                                            <input type="date" name="exdate" class="form-control form-control-sm" id="net_total" value="{{store.expireDate}}" required/>
                                                                        </div> 
                                                                    <label for="net_total" class="col-sm-4 col-form-label" align="right">Shelf</label>
                                                                     <div class="col-sm-6">
                                                                     <input type="text"  name="shelf" class="form-control form-control-sm"  value="{{store.shelf}}" required/>
                                                                     </div>
                                                                     <label for="net_total" class="col-sm-4 col-form-label" align="right">Cabinate</label>
                                                                     <div class="col-sm-6">
                                                                     <input type="text"  name="cabinate" class="form-control form-control-sm"  value="{{store.cabinate}}" required/>
                                                                     </div>
                                                                     <label for="net_total" class="col-sm-4 col-form-label" align="right">Fridge</label>
                                                                     <div class="col-sm-6">
                                                                        {{temp.temprature}}
                                                                     </div>
                                                                     <label for="net_total" class="col-sm-4 col-form-label" align="right">Conifrmed Quantity</label>
                                                                     <div class="col-sm-6">
                                                                     <input type="number"  name="quantity" class="form-control form-control-sm"  value="" required/>
                                                                     </div>
                                                           
                                                                  
                                             <input type="hidden" name="next" value="{{ request.path }}">
                                             <div class="input-group-append">
                                                 <input type="submit" name="add" class="btn btn-info"  value="Confirm">
                                                
                                            </div>
                                            
                                            {%endif%}
                                          
                                        
                                        </div>
                                            </form>
                                        </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                           
                            </div>
                            </div>
                                        <hr>
                                    </div>
                        
                        {%endif%}
                                </div>
                        
                </div>
            </div>

        </div>
      
    {%elif page == 'microbial'%}
           <!-- Begin Page Content -->
           <div class="container-fluid">
            {% include 'partials/_alerts.html' %}
            <!-- Page Heading -->
            <h1 class="h3 mb-2 text-gray-800">Confirm Request</h1>
           
            <!-- DataTales Example -->
            <div class="card shadow mb-4">
                
                <div class="card-body" style="box-shadow:0 0 25px 0 rgb(29, 175, 185);" >
                    <div class="col-auto" >
                        {% if obj %}
                                    <div class="p-2">
                                        <div class="text-center" style="box-shadow:0 0 25px 0 rgb(29, 175, 185);">
                                           <hr>
                                            <h1 class="h4 text-gray-900 mb-4">Update Request Status </h1>
                                           
                                            {%if obj.received %}
                                            <span class="btn btn-success ">Completed</span> &nbsp; 
                                            {%elif obj.requested or obj.recieved == False%}
                                            Request
                                            <span class="btn btn-info ">pending</span> &nbsp;
                                            
                                         {%endif%}
                                         <hr>           
                                        </div>
                                        <br>
                                       
                                  
                                            
                                            <div class="form-group row">
                                                <label class="col-sm-3 col-form-label" align="right">Requested Date</label>
                                                <div class="col-sm-6">
                                                    <input type="text" id="order_date" name="order_date" readonly class="form-control form-control-sm" value="{{obj.ordered_date}}">
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-sm-3 col-form-label" align="right">Department</label>
                                                <div class="col-sm-6">
                                                    <input type="text" id="cust_name" name="pnumber"  readonly class="form-control form-control-sm" placeholder="{{obj.department}}"/>
                                                </div>
                                            </div>
                                        
                                        <div class="form-group row">
                                        <label for="net_total" class="col-sm-3 col-form-label" align="right">Name</label>
                                        <div class="col-sm-6">
                                            <input type="text" readonly name="tinnumber" class="form-control form-control-sm" id="net_total" value="{{obj.user.username}}"/>
                                        </div>
                                        </div> 
                                           
                                        <div class="card-body" style="box-shadow:0 0 25px 0 rgb(29, 175, 185);">
                                            <div class="row">
                                       
                                        <div class="col-auto col-md-auto mb-1">
                                            <div class="card border-left-success shadow h-100 py-2" >
                                                <div class="card-body">
                                                    <div class="row no-gutters align-items-center">
                                                        <div class="col mr-1">
                                                            
                                                           
                                                                <form method="POST" action="{% url 'updatequantity' obj.id che.id %}" enctype='multipart/form-data' validate >
                                                                    {% csrf_token %}
                                                                    <div class="form-group row ">
                                                                        <label for="net_total" class="col-sm-4 col-form-label" align="right">Chemical Name</label>
                                                                        <div class="col-sm-6">
                                                                  
                                                                            <input type="text" readonly name="pname" class="form-control form-control-sm" id="net_total" value="{{che.chemical.name}}"/>
                                                                        </div>
                                                                        <label for="net_total" class="col-sm-4 col-form-label" align="right">Unit</label>
                                                                        <div class="col-sm-6"> 
                                                                            <input type="text" readonly name="pname" class="form-control form-control-sm" id="net_total" value="{{che.chemical.unit}}"/>
                                                                        </div>

                                                                       

                                                                         <label for="net_total" class="col-sm-4 col-form-label" align="right">Quantity</label>
                                                                        <div class="col-sm-6"> 
                                                                            <input type="text" readonly name="pname" class="form-control form-control-sm" id="net_total" value="{{che.quantity}}"/>
                                                                        </div>
                                                                        
                                                                        {%if che.recieved == True%}
                                                                        <i class="fas fa-check-circle fa-1x text-success"></i>
                                                                        <label for="net_total" class="col-sm-4 col-form-label" align="right">Confirmed Quantity</label>
                                                                        <div class="col-sm-6">
                                                                            <input type="number" readonly name="quantity" class="form-control form-control-sm"  value="{{che.issuedquantity}}" required/>
                                                                        </div>
                                                                        {%else%}
                                                             
                                                                         <label for="net_total" class="col-sm-4 col-form-label" align="right">Expire Date</label>
                                                                        <div class="col-sm-6"> 
                                                                            <input type="date" name="exdate" class="form-control form-control-sm" id="net_total" value="{{store.expireDate}}" required/>
                                                                        </div> 
                                                                    <label for="net_total" class="col-sm-4 col-form-label" align="right">Shelf</label>
                                                                     <div class="col-sm-6">
                                                                     <input type="text"  name="shelf" class="form-control form-control-sm"  value="{{store.shelf}}" required/>
                                                                     </div>
                                                                     <label for="net_total" class="col-sm-4 col-form-label" align="right">Cabinate</label>
                                                                     <div class="col-sm-6">
                                                                     <input type="text"  name="cabinate" class="form-control form-control-sm"  value="{{store.cabinate}}" required/>
                                                                     </div>
                                                                     <label for="net_total" class="col-sm-4 col-form-label" align="right">Fridge</label>
                                                                     <div class="col-sm-6">
                                                                        {{temp.temprature}}
                                                                     </div>
                                                                     <label for="net_total" class="col-sm-4 col-form-label" align="right">Conifrmed Quantity</label>
                                                                     <div class="col-sm-6">
                                                                     <input type="number"  name="quantity" class="form-control form-control-sm"  value="" required/>
                                                                     </div>
                                                           
                                                                  
                                             <input type="hidden" name="next" value="{{ request.path }}">
                                             <div class="input-group-append">
                                                 <input type="submit" name="add" class="btn btn-info"  value="Confirm">
                                                
                                            </div>
                                            
                                            {%endif%}
                                          
                                        
                                        </div>
                                            </form>
                                        </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                           
                            </div>
                            </div>
                                        <hr>
                                    </div>
                        
                        {%endif%}
                                </div>
                        
                </div>
            </div>

        </div>
    {%endif%}
       
{% endblock %}