{% extends 'main.html'%}

{% block content %}
 <!-- Begin Page Content -->
 <div class="container-fluid " >

  <!-- Page Heading -->
  <div class="d-sm-flex align-items-center justify-content-between mb-auto">
      <h2>Details of  <strong class="text-info">{{chemical.name}}</strong> </h2>
  </div>

<!-- Illustrations -->
<div class="card shadow mb-4 col-auto">
  <div class="card-header py-3" >
      <h6 class="m-0 font-weight-bold text-info">{{chemical.name}}</h6>
  </div>
  <div class="card-body align-items-center" style="box-shadow:0 0 25px 0 rgb(29, 175, 185);">
      <div class="row">
          
      <div class="col-auto col-md-auto mb-4 align-items-center">
          <div class="card border-left-info shadow h-100 py-auto " >
              <div class="card-body align-items-center">
                  <div class="row no-gutters align-items-center">
                      <div class="col mr-2">
                        <div class="table-responsive">
                          <table class="table table-bordered text-gray-800" id="dataTable" width="100%" cellspacing="0" >
                              <thead>
                               <tr>
                              
                              <th>Chemical Name</th>
                              <th>Company</th>
                              <th>Unit</th>
                              
                              <th>Description </th>
                          </tr>
                      </thead>
                     
                      <tbody>
                      
                        
                          <tr align="center">
                             
                              <td>{{chemical.name}}</td>
                              <td>{{chemical.company}}</td>
                              <td>{{chemical.unit}}</td>
                              <td>{{chemical.description}}</td>  
                              <td> <form action="{% url 'addQuantity' chemical.id %}" method="post" enctype='multipart/form-data' validate>
                                {% csrf_token %}
                           
                                <input type="number" name="quantity" placeholder="  - quantity" required >
                             </td>
                              </tr>
                               
                              
                              
                            </tbody>
                          </table>
                        </div>  
                        <!-- <div class="h2 mb-0 font-weight-bold text-gray-800">{{chemical.name }}</div>
                          
                          <div class="text-2xs font-weight-bold text-info mb-1"><details>{{chemical.description}}</details> </div>
                        -->
                      </div>
                      
                        <input type="submit" class="btn btn-center btn-info" value="Add to List">
                     
                    </form>
                         
                      
                  </div>
              </div>
          </div>
      </div>
     
      
    
      
  </div>
     
  </div>
</div>

</div>



{% endblock%}