{% extends 'main.html'%}

{% block content %}



<div class="container-fluid">
    {% include 'partials/_alerts.html' %}
    <div class="text-center">
        <h2>My<strong class="text-success"> Requests</strong> </h2>
        
      </div>
  <!-- Page Heading -->


<div class="card shadow mb-4">
    <div class="card-header py-3">
        <h6 class="m-0 font-weight-bold text-success">Requests</h6>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                 <tr>
                <th>NO</th>
                <th>Requested Date</th>
                <th>Department</th>
                <th>Researcher Name</th>
                <th>Chemical Name</th>
                <th>Quantity</th>
                <th>Issued Quantity</th>
                <th>Unit</th>
                <th>Status</th>
                <th>Action </th>
            </tr>
        </thead>
        <tfoot>
            <tr>
                <th>NO</th>
                <th>Requested Date</th>
                <th>Department</th>
                <th>Researcher Name</th>
                <th>Chemical Name</th>
                <th>Quantity</th>
                <th>Issued Quantity</th>
                <th>Unit</th>
                <th>Status</th>
                <th>Action</th>
            </tr>
        </tfoot>
        <tbody>
         {% for requests in obj%}
          
            <tr align="center">
                <td>{{forloop.counter }}</td>
                <td>{{requests.ordered_date}}</td>
                <td>{{requests.department}}</td>
                <td>{{requests.user.username}}</td>
                <td>
                    <table class="table table-bordered">
                {% for requestedchemical in requests.chemicals.all %} 
                    <tr align="center">
                <td>{{requestedchemical.chemical.name}} &nbsp; 
                    {%if requestedchemical.recieved == True%}
                    <i class="fas fa-check-circle fa-1x text-success"></i>
                    {%elif requestedchemical.recieved == False %}
                    <i class="fas fa-minus-circle fa-1x text-danger"></i>
                    {%endif%}
                </td>
                    </tr>    
                {% endfor %}
                </table>
                </td>
                <td>
                    <table  class="table table-bordered">
                        {% for requestedchemical in requests.chemicals.all %} 
                    <tr align="center">
                        <td>{{requestedchemical.quantity}}</td>
                    </tr>    
                         {% endfor %}
                    </table>
                </td>
                   <td>
                    <table  class="table table-bordered">
                        {% for requestedchemical in requests.chemicals.all %} 
                    <tr align="center">
                        <td>{{requestedchemical.issuedquantity}} </td>
                    </tr>    
                         {% endfor %}
                    </table>
                </td>
                <td>
                    <table class="table table-bordered" >
                        {% for requestedchemical in requests.chemicals.all %} 
                    <tr align="center">
                        <td>{{requestedchemical.chemical.unit}}</td>
                    </tr>    
                         {% endfor %}
                    </table>
                </td>
        
                <td>
                    {% if requests.received  %}
                    <span class="btn btn-success btn-sm">Completed</span> &nbsp;
                    {% elif requests.deny == True %}
                    <span class="btn btn-danger btn-sm">Request Denied</span> &nbsp;
                    {% elif requests.confirmed %}
                    <span class="btn btn-warning btn-sm">Confirmed</span> &nbsp;
                    {% elif requests.confirmed == False %}
                    <span class="btn btn-info btn-sm">Pending</span> &nbsp;
                    {%endif%}
                   
                </td>
                <td>
                    
                <a  href="{% url 'requestDetal' requests.id %}" >
                    <i class="fas fa-print fa-2x text-success"></i>
                </a>
                    &nbsp;
                    {% if requests.received == False %}

                    <a href="{% url 'removeRequest' requests.id %}" >
                   <i class="fas fa-trash fa-1x text-danger"></i>
               </a>
               {%endif%}
                </td>
                
               
                </tr>
                {%empty%}    
                <tr>
                    <td colspan='5'>You Dont have any requests</td>
                </tr>   
               
            
            {%endfor%}
            

            <!-- <tr>
                <td colspan="8">
        
                <a class='btn btn-sutext-success float-right' href='/'>Back</a>
                </td>
            </tr> -->
          
        
          
        </tbody>
      </table>
    </div>
    </div>
    </div>
    </div>
 

{% endblock%}