{% extends 'main.html'%}

{% block content %}

<section class="hero">
  
   
    <div class="container-fluid">
    
        <div class="text-center">
            <h2>Summary Of <strong class="text-info"> Requests</strong> </h2>
            
          </div>
    
    <div class="card shadow mb-4">
        <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold text-info">Requests</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-bordered text-gray-800" id="dataTable" width="100%" cellspacing="0">
                    <thead align="center">
                <tr>
                    <th>NO </th>
                    <th>Chemical Name</th>
                    <th>Quantity </th>
                    <th>Unit </th>
                </tr>
            </thead>
            <tbody>
                {% for requestedchemical in object.chemicals.all %}
              
                <tr align="center">
                    <td>{{forloop.counter }}</td>
                    <td>{{requestedchemical.chemical.name}}</td>
                    <td>{{requestedchemical.quantity}}</td>
                    <td>{{requestedchemical.chemical.unit}}</td>
                 
                </tr>
                    {%empty%}    
         
                <tr>
                    <td >Your List is empty</td>
                </tr>
                <tr>
                    <td colspan="5">
                    <a class='btn btn-sutext-info float-right' href="{% url 'chemicalList' %}">Select and add Chemicals</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
          </table>
        </div>
        
            {% if object is not empty %}
            <a class="btn btn-danger float-right  ml-3" href="/">Cancel</a>
            <a class="btn btn-success float-right ml-3" href="{% url 'finishRequest' %}">Request</a>
            
            {%else%}
            <a class='btn btn-danger float-right' href='/'>Cancel</a>
            {% endif%}
      
        </div>
        </div>
        </div>
        </section>
    

{% endblock%}