{% extends 'main.html'%}
{% load static%}
{% block content %}

     <!-- Begin Page Content -->
     <div class="container-fluid">

      <!-- Page Heading -->
      <div class="d-sm-flex align-items-center justify-content-between mb-4">
          <h1 class="h3 mb-0 text-gray-800"></h1>
          {% include 'partials/_alerts.html' %}
          <!-- <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-info shadow-sm"><i
                  class="fas fa-download fa-sm text-white-50"></i> Generate Report</a> -->
      </div>

      <section class="hero">
        <div class="container mb-5">
          <div class="row align-items-center">
            {% if request.user.department.department == 'Plant Biotechnology' %}
            <div class="col-lg-6"><img src="{% static 'img/plant.svg'%}" alt="..." class="img-fluid px-3 px-sm-4 mt-3 mb-4"></div>
            <div class="col-lg-6">
              <h1 class="hero-heading mb-0"><strong class="text-info">National Agricultural Biotechnology Research center</strong></h1>
              <div class="row">
                <div class="col-lg-10">
                  <p class="lead text-muted mt-4 mb-4"></p>
                </div>
              </div>
            
            </div>
            {% elif request.user.department.department == 'Microbial Biotechnology' %}
            <div class="col-lg-6">
              <h1 class="hero-heading mb-0"><strong class="text-info">National Agricultural Biotechnology Research center</strong></h1>
            </div>
            <div class="col-lg-6"><img src="{% static 'img/micro.svg'%}" alt="..." class="img-fluid px-3 px-sm-4 mt-3 mb-4"></div>
            {% elif request.user.department.department == 'Animal Biotechnology' %}
            <div class="col-lg-6">
              <h1 class="hero-heading mb-0"><strong class="text-info">National Agricultural Biotechnology Research center</strong></h1>
              <div class="row">
                <div class="col-lg-10">
                  <p class="lead text-muted mt-4 mb-4"></p>
                </div>
              </div>
            
            </div>
            <div class="col-lg-6"><img src="{% static 'img/micro.svg'%}" alt="..." class="img-fluid px-3 px-sm-4 mt-3 mb-4"></div>
            
            {%endif%}
          </div>
        </div>
      </section>
      
      
      <!-- Content Row -->
      <div class="row">

          <!-- Request Chemical -->
          <div class="col-xl-6 col-md-6 mb-4">
              <div class="card border-left-info shadow h-100 py-2">
                  <div class="card-body">
                      <div class="row no-gutters align-items-center">
                          <div class="col mr-2">
                             
                              <div class="row no-gutters align-items-center">
                                  <div class="col-auto">
                                      
                                      <div class="h3 mb-0 mr-3 font-weight-bold text-gray-800"> <i class="fas fa-clipboard-list fa-2x text-info"></i> Total Chemicals</div>
                                  </div>
                                  
                              </div>
                          </div>
                          <div class="col-auto">
                              <a  href="#">
                                {% if request.user.department.department == 'Animal Biotechnology' %}
                                  <i class="fas  fa-3x text-info">{{ animalChemicals }}</i> 
                                 {% elif request.user.department.department == 'Plant Biotechnology' %}
                                 <i class="fas  fa-3x text-info">{{ plantChemicals }}</i> 
                                 {% elif request.user.department.department == 'Microbial Biotechnology' %}
                                 <i class="fas  fa-3x text-info">{{ microbialChemicals }}</i> 
                                 {%endif%}
                                  <!-- <i class="fas fa-tachometer-alt fa-4x text-info"></i>   -->
                              </a>
                              <!-- <a href="out_order_detail.html"><i class="fas fa-sign-out-alt fa-4x text-info"></i></a> -->
                          </div>
                      </div>
                  </div>
              </div>
          </div>
          
            <!-- Confirmed Orders -->
            <div class="col-xl-6 col-md-6 mb-4">
              <div class="card border-left-info shadow h-100 py-2">
                  <div class="card-body">
                      <div class="row no-gutters align-items-center">
                          <div class="col mr-2">
                             
                              <div class="row no-gutters align-items-center">
                                  <div class="col-auto">
                                      <div class="h3 mb-0 mr-2 font-weight-bold text-gray-800"><i class="fas fa-user fa-2x text-info"></i> Total Active Researchers</div>
                                  </div>
                                  
                              </div>
                          </div>
                          <div class="col-auto">
                              <a  href="#">
                                {% if request.user.department.department == 'Animal Biotechnology' %}
                                <i class="fas  fa-3x text-info">{{ animalResearcher }}</i> 
                               {% elif request.user.department.department == 'Plant Biotechnology' %}
                               <i class="fas  fa-3x text-info">{{ plantResearcher }}</i> 
                               {% elif request.user.department.department == 'Microbial Biotechnology' %}
                               <i class="fas  fa-3x text-info">{{ microbialResearcher }}</i> 
                               {%endif%}  
                              </a>
                              <!-- <a href="out_order_detail.html"><i class="fas fa-sign-out-alt fa-4x text-info"></i></a> -->
                          </div>
                      </div>
                  </div>
              </div>
          </div>


       
       
      </div>
    
 <!-- Content Row -->
 <div class="row">

    <!-- Content Column -->
    <div class="col-lg-4 mb-4">

        <!-- Project Card Example -->
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-success"><i class="fas fa-check-circle fa-2x text-success"></i>  Available Chemicals</h6>
            </div>
            
            <div class="card-body">
              <div class="text-center">
                  <img class="img-fluid px-3 px-sm-4 mt-3 mb-4" style="width: 25rem;"
                      src="{% static 'img/list.svg' %}" alt="...">
              </div>
              <p>Click the title of the  lists to collaps and uncollaps it.</p>
    {% if request.user.department.department == 'Animal Biotechnology' %}
             <!-- Collapsable Card Example -->
                <div class="card shadow mb-4">
                  <!-- Card Header - Accordion -->
                  <a href="#avaAnimal" class="d-block card-header py-3" data-toggle="collapse"
                    role="button" aria-expanded="true" aria-controls="collapseCardExample">
                    <div class="row">
                      <div class="col-9">
                          <h6 class="m-0 font-weight-bold text-info"><i class="fas fa-list fa-1x text-success"></i> Animal Biotechnology Chemicals </h6>
                      </div>
                    <div class="col-2">
                      <h4 align="right" class="fas fa-1x text-success" >{{Aavailable}}</h4>
                  </div>
                  </div>
                  </a>
                
                <!-- Card Content - Collapse -->
                <div class="collapse show" id="avaAnimal">
                    <div class="card-body">
                      <div class="row">
                        <div class="col-lg-6"><img src="{% static 'img/microresearcher.svg'%}" alt="..." class="img-fluid px-3 px-sm-4 mt-3 mb-4"></div>
                       <!-- <div class="col-lg-auto mb-4">
                               <a href="{% url 'aExpired' %}"  class="btn btn-success"><i class="fas fa-minus-circle fa-1x text-white"></i> View Lists </a> &nbsp;&nbsp;&nbsp;
                      </div> -->
                      </div>
                        <div class="progress mb-4">
                          <div class="progress-bar progress-bar progress-bar-animated bg-info" role="progressbar" style="width: 100%"
                              aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                      </div>
                    </div>
                </div>
            </div>
 
   {% elif request.user.department.department == 'Plant Biotechnology' %}
            <!-- Collapsable Card Example -->
              <div class="card shadow mb-4">
                  <!-- Card Header - Accordion -->
                  <a href="#avaPLant" class="d-block card-header py-3" data-toggle="collapse"
                  role="button" aria-expanded="true" aria-controls="collapseCardExample">
                  <div class="row">
                      <div class="col-9">
                          <h6 class="m-0 font-weight-bold text-info"><i class="fas fa-list fa-1x text-success"></i> Plant Biotechnology Chemicals </h6>
                      </div>
                  <div class="col-2">
                      <h4 align="right" class="fas fa-1x text-success" >{{Pavailable}}</h4>
                  </div>
                  </div>
                  </a>
              
              <!-- Card Content - Collapse -->
              <div class="collapse show" id="avaPLant">
                  <div class="card-body">
                    <div class="row">
                      <div class="col-lg-6"><img src="{% static 'img/plantresearcher.svg'%}" alt="..." class="img-fluid px-3 px-sm-4 mt-3 mb-4"></div>
                     <!-- <div class="col-lg-auto mb-4">
                             <a href="{% url 'aExpired' %}"  class="btn btn-success"><i class="fas fa-minus-circle fa-1x text-white"></i> View Lists </a> &nbsp;&nbsp;&nbsp;
                    </div> -->
                    </div>
                          <div class="progress-bar progress-bar progress-bar-animated bg-info" role="progressbar" style="width: 100%"
                              aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                      </div>
                  </div>
              </div>
         

  {% elif request.user.department.department == 'Microbial Biotechnology' %}      
              <!-- Collapsable Card Example -->
              <div class="card shadow mb-4">
                  <!-- Card Header - Accordion -->
                  <a href="#avaMicrobial" class="d-block card-header py-3" data-toggle="collapse"
                  role="button" aria-expanded="true" aria-controls="collapseCardExample">
                  <div class="row">
                      <div class="col-9">
                          <h6 class="m-0 font-weight-bold text-info"><i class="fas fa-list fa-1x text-success"></i> Microbial Biotechnology Chemicals </h6>
                      </div>
                  <div class="col-2">
                      <h4 align="right" class="fas fa-1x text-success" >{{Mavailable}}</h4>
                  </div>
                  </div>
                  </a>
              
              <!-- Card Content - Collapse -->
              <div class="collapse show" id="avaMicrobial">
                  <div class="card-body">
                    <div class="row">
                      <div class="col-lg-6"><img src="{% static 'img/microresearcher.svg'%}" alt="..." class="img-fluid px-3 px-sm-4 mt-3 mb-4"></div>
                     <!-- <div class="col-lg-auto mb-4">
                             <a href="{% url 'aExpired' %}"  class="btn btn-success"><i class="fas fa-minus-circle fa-1x text-white"></i> View Lists </a> &nbsp;&nbsp;&nbsp;
                    </div> -->
                    </div>
                      <div class="progress mb-4">
                          <div class="progress-bar progress-bard progress-bar-animated bg-info" role="progressbar" style="width: 100%"
                              aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                      </div>
                  </div>
              </div>
          </div>
  {%endif%}
            </div>
        </div>


    </div>

     <!-- Desposable chemicals -->

    <div class="col-lg-4 mb-4">

        <!-- Illustrations -->
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-warning"><i class="fas fa-minus-circle fa-2x text-warning"></i> Desposable Chemicals</h6>
            </div>
            <div class="card-body">
                <div class="text-center">
                    <img class="img-fluid px-3 px-sm-4 mt-3 mb-4" style="width: 25rem;"
                        src="{% static 'img/expired.svg' %}" alt="...">
                </div>

                <p>Click the title of the  lists to collaps and uncollaps it.</p>

    {% if request.user.department.department == 'Animal Biotechnology' %}
                <!-- Collapsable Card Example -->
                <div class="card shadow mb-4">
                  <!-- Card Header - Accordion -->
                  <a href="#despoAnimal" class="d-block card-header py-3" data-toggle="collapse"
                    role="button" aria-expanded="true" aria-controls="collapseCardExample">
                    <div class="row">
                      <div class="col-9">
                          <h6 class="m-0 font-weight-bold text-info"><i class="fas fa-minus-circle fa-1x text-warning"></i> Animal Biotechnology Chemicals </h6>
                      </div>
                    <div class="col-2">
                      <h4 align="right" class="fas fa-1x text-warning" >{{Aexpired}}</h4>
                  </div>
                  </div>
                  </a>
                
                <!-- Card Content - Collapse -->
                <div class="collapse show" id="despoAnimal">
                    <div class="card-body">
                      <div class="row">
                        <div class="col-lg-6"><img src="{% static 'img/microresearcher.svg'%}" alt="..." class="img-fluid px-3 px-sm-4 mt-3 mb-4"></div>
                       <div class="col-lg-auto mb-4">
                               <a href="{% url 'aExpired' %}"  class="btn btn-warning"><i class="fas fa-minus-circle fa-1x text-white"></i> View Lists </a> &nbsp;&nbsp;&nbsp;
                      </div>
                      </div>
                        <div class="progress mb-4">
                          <div class="progress-bar progress-bar progress-bar-animated bg-info" role="progressbar" style="width: 100%"
                              aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                      </div>                    
                    </div>
                </div>
            </div>
    
    {% elif request.user.department.department == 'Plant Biotechnology' %}

             <!-- Collapsable Card Example -->
             <div class="card shadow mb-4">
              <!-- Card Header - Accordion -->
              <a href="#despoPlant" class="d-block card-header py-3" data-toggle="collapse"
                role="button" aria-expanded="true" aria-controls="collapseCardExample">
                <div class="row">
                  <div class="col-9">
                      <h6 class="m-0 font-weight-bold text-info"><i class="fas fa-minus-circle fa-1x text-warning"></i> Plant Biotechnology Chemicals </h6>
                  </div>
                <div class="col-2">
                  <h4 align="right" class="fas fa-1x text-warning" >{{Pexpired}}</h4>
              </div>
              </div>
              </a>
            
            <!-- Card Content - Collapse -->
            <div class="collapse show" id="despoPlant">
                <div class="card-body">
                  <div class="row">
                    <div class="col-lg-6"><img src="{% static 'img/plantresearcher.svg'%}" alt="..." class="img-fluid px-3 px-sm-4 mt-3 mb-4"></div>
                   <div class="col-lg-auto mb-4">
                           <a href="{% url 'pExpired' %}"  class="btn btn-warning"><i class="fas fa-minus-circle fa-1x text-white"></i> View Lists </a> &nbsp;&nbsp;&nbsp;
                  </div>
                  </div>
                    <div class="progress mb-4">
                      <div class="progress-bar progress-bar progress-bar-animated bg-info" role="progressbar" style="width: 100%"
                          aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                  </div>  
                </div>
            </div>
        </div>

    {% elif request.user.department.department == 'Microbial Biotechnology' %}      
         <!-- Collapsable Card Example -->
         <div class="card shadow mb-4">
          <!-- Card Header - Accordion -->
          <a href="#despoMicrobial" class="d-block card-header py-3" data-toggle="collapse"
            role="button" aria-expanded="true" aria-controls="collapseCardExample">
            <div class="row">
              <div class="col-9">
                  <h6 class="m-0 font-weight-bold text-info"><i class="fas fa-minus-circle fa-1x text-warning"></i> Microbial Biotechnology Chemicals </h6>
              </div>
            <div class="col-2">
              <h4 align="right" class="fas fa-1x text-warning" >{{Mexpired}}</h4>
          </div>
          </div>
          </a>
        
        <!-- Card Content - Collapse -->
        <div class="collapse show" id="despoMicrobial">
            <div class="card-body">
              <div class="row">
                <div class="col-lg-6"><img src="{% static 'img/microresearcher.svg'%}" alt="..." class="img-fluid px-3 px-sm-4 mt-3 mb-4"></div>
               <div class="col-lg-auto mb-4">
                       <a href="{% url 'mExpired' %}"  class="btn btn-warning"><i class="fas fa-minus-circle fa-1x text-white"></i> View Lists </a> &nbsp;&nbsp;&nbsp;
              </div>
              </div>
                <div class="progress mb-4">
                  <div class="progress-bar progress-bar progress-bar-animated bg-info" role="progressbar" style="width: 100%"
                      aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
              </div>         
            </div>
        </div>
    </div>
    {%endif%}
                <!-- <p>Add some quality, svg illustrations to your project courtesy of <a
                        target="_blank" rel="nofollow" href="https://undraw.co/">unDraw</a>, a
                    constantly updated collection of beautiful svg images that you can use
                    completely free and without attribution!</p>
                <a target="_blank" rel="nofollow" href="https://undraw.co/">Browse Illustrations on
                    unDraw &rarr;</a> -->
            </div>
        </div>

    
    </div>

        <!-- Desposed chemicals -->

        <div class="col-lg-4 mb-4">

          <!-- Illustrations -->
          <div class="card shadow mb-4">
              <div class="card-header py-3">
                  <h6 class="m-0 font-weight-bold text-danger"><i class="fas fa-trash fa-2x text-danger"></i> Desposed Chemicals</h6>
              </div>
              <div class="card-body">
                  <div class="text-center">
                      <img class="img-fluid px-3 px-sm-4 mt-3 mb-4" style="width: 25rem;"
                          src="{% static 'img/trash2.svg' %}" alt="...">
                  </div>

                  <p>Click the title of the  lists to collaps and uncollaps it.</p>

        {% if request.user.department.department == 'Animal Biotechnology' %}
                  <!-- Collapsable Card Example -->
                  <div class="card shadow mb-4">
                    <!-- Card Header - Accordion -->
                    <a href="#despoAnimal" class="d-block card-header py-3" data-toggle="collapse"
                      role="button" aria-expanded="true" aria-controls="collapseCardExample">
                      <div class="row">
                        <div class="col-9">
                            <h6 class="m-0 font-weight-bold text-info"><i class="fas fa-trash fa-1x text-danger"></i> Animal Biotechnology Chemicals </h6>
                        </div>
                      <div class="col-2">
                        <h4 align="right" class="fas fa-1x text-danger" >{{Adesposed}}</h4>
                    </div>
                    </div>
                    </a>
                  
                  <!-- Card Content - Collapse -->
                  <div class="collapse show" id="despoAnimal">
                      <div class="card-body">
                        <div class="row">
                          <div class="col-lg-6"><img src="{% static 'img/microresearcher.svg'%}" alt="..." class="img-fluid px-3 px-sm-4 mt-3 mb-4"></div>
                         <div class="col-lg-auto mb-4">
                                 <a href="{% url 'aDesposedChemical' %}"  class="btn btn-danger"><i class="fas fa-minus-circle fa-1x text-white"></i> View Lists </a> &nbsp;&nbsp;&nbsp;
                        </div>
                        </div>
                          <div class="progress mb-4">
                            <div class="progress-bar progress-bar progress-bar-animated bg-info" role="progressbar" style="width: 100%"
                                aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                        </div>                   
                      </div>
                  </div>
              </div>

       {% elif request.user.department.department == 'Plant Biotechnology' %}
               <!-- Collapsable Card Example -->
               <div class="card shadow mb-4">
                <!-- Card Header - Accordion -->
                <a href="#despoPlant" class="d-block card-header py-3" data-toggle="collapse"
                  role="button" aria-expanded="true" aria-controls="collapseCardExample">
                  <div class="row">
                    <div class="col-9">
                        <h6 class="m-0 font-weight-bold text-info"><i class="fas fa-trash fa-1x text-danger"></i> Plant Biotechnology Chemicals </h6>
                    </div>
                  <div class="col-2">
                    <h4 align="right" class="fas fa-1x text-danger" >{{Pdesposed}}</h4>
                </div>
                </div>
                </a>
              
              <!-- Card Content - Collapse -->
              <div class="collapse show" id="despoPlant">
                  <div class="card-body">
                    <div class="row">
                      <div class="col-lg-6"><img src="{% static 'img/plantresearcher.svg'%}" alt="..." class="img-fluid px-3 px-sm-4 mt-3 mb-4"></div>
                     <div class="col-lg-auto mb-4">
                             <a href="{% url 'pDesposedChemical' %}"  class="btn btn-danger"><i class="fas fa-minus-circle fa-1x text-white"></i> View Lists </a> &nbsp;&nbsp;&nbsp;
                    </div>
                    </div>
                      <div class="progress mb-4">
                        <div class="progress-bar progress-bar progress-bar-animated bg-info" role="progressbar" style="width: 100%"
                            aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                  </div>
              </div>
          </div>


       {% elif request.user.department.department == 'Microbial Biotechnology' %}      
          <!-- Collapsable Card Example -->
           <div class="card shadow mb-4">
            <!-- Card Header - Accordion -->
            <a href="#despoMicrobial" class="d-block card-header py-3" data-toggle="collapse"
              role="button" aria-expanded="true" aria-controls="collapseCardExample">
              <div class="row">
                <div class="col-9">
                    <h6 class="m-0 font-weight-bold text-info"><i class="fas fa-trash fa-1x text-danger"></i> Microbial Biotechnology Chemicals </h6>
                </div>
              <div class="col-2">
                <h4 align="right" class="fas fa-1x text-danger" >{{Mdesposed}}</h4>
            </div>
            </div>
            </a>
          
          <!-- Card Content - Collapse -->
          <div class="collapse show" id="despoMicrobial">
              <div class="card-body">
                <div class="row">
                  <div class="col-lg-6"><img src="{% static 'img/microresearcher.svg'%}" alt="..." class="img-fluid px-3 px-sm-4 mt-3 mb-4"></div>
                 <div class="col-lg-auto mb-4">
                         <a href="{% url 'mDesposedChemical' %}"  class="btn btn-danger"><i class="fas fa-minus-circle fa-1x text-white"></i> View Lists </a> &nbsp;&nbsp;&nbsp;
                </div>
                </div>
                  <div class="progress mb-4">
                    <div class="progress-bar progress-bar progress-bar-animated bg-info" role="progressbar" style="width: 100%"
                        aria-valuenow="50" aria-valuemin="0" aria-valuemax="100"></div>
                </div>        
              </div>
          </div>
      </div>
      {%endif%}

                  <!-- <p>Add some quality, svg illustrations to your project courtesy of <a
                          target="_blank" rel="nofollow" href="https://undraw.co/">unDraw</a>, a
                      constantly updated collection of beautiful svg images that you can use
                      completely free and without attribution!</p>
                  <a target="_blank" rel="nofollow" href="https://undraw.co/">Browse Illustrations on
                      unDraw &rarr;</a> -->
              </div>
          </div>

      
      </div>

</div>
<!-- Content Row -->



  </div>
  <!-- /.container-fluid -->


{% endblock%}