{% extends 'main.html'%}
{% load static %}

{%block content%}
         <!-- Begin Page Content -->
         <div class="container-fluid">
            {% include 'partials/_alerts.html' %}
            <!-- Page Heading -->
            <h1 class="h3 mb-2 text-gray-800">Researcher Detail</h1>
           
            <!-- DataTales Example -->
            <div class="card shadow mb-4">
                
                <div class="card-body" style="box-shadow:0 0 25px 0 rgb(29, 175, 185);" >
                    <div class="col-auto" >
                        {% if researcher %}
                                    <div class="p-2">
                                      <center>
                                {%if researcher.researcher.is_active and researcher.permission %}
                                <i class="fas fa-success fa-1x text-success"> Department Privilaged</i>  <i class="fas fa-check-circle fa-1x text-success"></i>
                                {%elif researcher.researcher.is_active%}
                                <i class="fas fa-success fa-1x text-success"> Active </i>  <i class="fas fa-check-circle fa-1x text-success"></i>
                                {%else%}
                                <i class="fas fa-success fa-1x text-danger"> <strike> Active</strike></i>  <i class="fas fa-minus-circle fa-1x text-danger"></i>
                                {%endif%}
                            </center>
                                                <br>
                                            <div class="form-group row">
                                                <label class="col-sm-3 col-form-label" align="right">Name</label>
                                                <div class="col-sm-6">
                                                    <input type="text" id="order_date" name="order_date" readonly class="form-control form-control-sm" value="{{researcher.name|title}}">
                                                </div>
                                            </div>
                                            <div class="form-group row">
                                                <label class="col-sm-3 col-form-label" align="right">Department</label>
                                                <div class="col-sm-6">
                                                    <input type="text" id="cust_name" name="pnumber"  readonly class="form-control form-control-sm" placeholder="{{researcher.department}}"/>
                                                </div>
                                            </div>
                                        
                                        <div class="form-group row">
                                        <label for="net_total" class="col-sm-3 col-form-label" align="right">Email </label>
                                        <div class="col-sm-6">
                                            <input type="text" readonly name="tinnumber" class="form-control form-control-sm" id="net_total" value="{{researcher.researcher.email}}"/>
                                        </div>
                                        </div> 
                                    
                                        <hr>
                                        <center>
                                            {%if researcher.researcher.is_active and researcher.permission %}
                                            <a href="#"  data-toggle="modal" data-target="#permission" class="btn btn-info"><i class="fas fa-minus-circle fa-1x text-white"></i> Revoke Privilage</a> &nbsp;&nbsp;&nbsp;
                                            {%elif researcher.researcher.is_active and researcher.permission == False %}
                                            <a href="#"  data-toggle="modal" data-target="#permission" class="btn btn-info"><i class="fas fa-check-circle fa-1x text-white"></i> Give Perivilage</a> &nbsp;&nbsp;&nbsp;
                                            {%endif%}
                                            {%if researcher.researcher.is_active %}
                                            <a href="#"  data-toggle="modal" data-target="#account" class="btn btn-danger"><i class="fas fa-trash fa-1x text-white"></i> Disable Researcher Account</a>
                                            {%else%}
                                            <a href="#"  data-toggle="modal" data-target="#account" class="btn btn-success"><i class="fas fa-check fa-1x text-white"></i> Enable Researcher Account</a>
                                            {%endif%}
                                            </center>
                                        {%endif%}
                                    </div>
                        
                                </div>
                        
                </div>
            </div>

        </div>
       
<!-- revoke modal -->
        <div class="modal fade bd-example-modal-lg" id="permission" tabindex="-1" role="dialog" aria-labelledby="detail"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
            <div class="modal-content" style="box-shadow:0 0 25px 0 rgb(29, 175, 185);">
                <div class="modal-header border-bottom-0">
                   
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                   </div>
                   <div class="modal-body border-bottom-0">
                   
                          <div class="col-md-10 mx-auto">
                                    
                                       <div class="card-header">
                                            {%if researcher.researcher.is_active and researcher.permission %}
                                            <h4 class="text-gray-800"><i class="fas fa-exclamation-triangle fa-3x text-warning"></i> Revoke the permission you have given to the Researcher: "<strong class="text-gray-900"> {{researcher.researcher.first_name}}</strong>" ?</h4>
                                            {%else%}
                                            <h4 class="text-gray-800"><i class="fas fa-exclamation-triangle fa-3x text-warning"></i> Give permission to the Researcher: "<strong class="text-gray-900"> {{researcher.researcher.first_name}}</strong>" To <u><strong class="text-warning">Confirm</strong></u> chemical requests ?</h4>
                                            {%endif%}

                                       </div>
                                       <div class="card-body">
                                            {%if researcher.researcher.is_active and researcher.permission %}
                                         <h5 class="title" >  <a href="{% url 'revoke' researcher.id %}?next={{ request.path|urlencode }}" class="btn btn-success"><i class="fas fa-check-circle fa-1x text-white"></i> Yes Revoke Privilage</a> &nbsp;&nbsp;&nbsp;
                                           {%else%}
                                           <h5 class="title" >  <a href="{% url 'give' researcher.id %}?next={{ request.path|urlencode }}" class="btn btn-success"><i class="fas fa-check-circle fa-1x text-white"></i> Yes Give Privilage</a> &nbsp;&nbsp;&nbsp;
                                         {%endif%}
                                            <button class="close btn btn-danger" type="button" data-dismiss="modal" aria-label="Close">
                                                <span aria-hidden="true">Cancel</span>
                                            </button> 
                                        </h5>
                                       </div>
                                     
                                 </div>            
                     
                  </div>
     
            </div>
        </div>
       </div>
        <!-- disable modal  -->
       <div class="modal fade bd-example-modal-lg" id="account" tabindex="-1" role="dialog" aria-labelledby="detail"
       aria-hidden="true">
       <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
           {% if researcher.researcher.is_active%}
           <div class="modal-content" style="box-shadow:0 0 25px 0 rgba(216, 37, 67, 0.692);">
            {%else%}
            <div class="modal-content" style="box-shadow:0 0 25px 0 rgb(29, 175, 185);">
            {%endif%}
               <div class="modal-header border-bottom-0">
                  
                   <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                       <span aria-hidden="true">×</span>
                   </button>
                  </div>
                  <div class="modal-body border-bottom-0">
                  
                         <div class="col-md-10 mx-auto">
                                   
                                      <div class="card-header">
                                        {% if researcher.researcher.is_active%}
                                           <h4 class="text-gray-800"><i class="fas fa-exclamation-triangle fa-2x text-danger"></i> Are you sure you want to <strong class="text-danger">Disable</strong> the Researcher: "<strong class="text-gray-900"> {{researcher.researcher.first_name}}</strong>" account ?</h4>
                                           {%else%}
                                           <h4 class="text-gray-800"><i class="fas fa-exclamation-triangle fa-2x text-warning"></i> Enable the Researcher: "<strong class="text-gray-900">{{researcher.researcher.first_name}}</strong>" account ?</h4>
                                           {%endif%}
                                      </div>
                                      <div class="card-body">
                                        {% if researcher.researcher.is_active%}
                                        <h5 class="title" >  <a href="{% url 'disableresearcher' researcher.id %}?next={{ request.path|urlencode }}" class="btn btn-danger"><i class="fas fa-check-circle fa-1x text-white"></i> Yes disable</a> &nbsp;&nbsp;&nbsp;
                                           {%else%}
                                           <h5 class="title" >  <a href="{% url 'enableresearcher' researcher.id %}?next={{ request.path|urlencode }}" class="btn btn-success"><i class="fas fa-check-circle fa-1x text-white"></i> Yes enable</a> &nbsp;&nbsp;&nbsp;
                                        {%endif%}
                                            <button class="close btn btn-success" type="button" data-dismiss="modal" aria-label="Close">
                                               <span aria-hidden="true">Cancel</span>
                                           </button> 
                                       </h5>
                                     
                                    
                                </div>            
                    
                 </div>
    
           </div>
       </div>
      </div>
      </div>
       


{% endblock %}
